@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: wenkai;
  src: url('/fonts/LXGWWenKaiTC-Regular.ttf') format('ttff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Stigfier;
}
